<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Get Familiar with Vue</title>
</head>
<body>
	<div id="app">
		<!-- <div v-if="show"> -->
		<div v-bind:style="show ? '' : 'visibility: hidden'">
			<h1>Get Familiar with Vue</h1>
			<input type="text" v-model="name">

			<ul>
				<li v-for="skill in skills">{{ skill }}</li>
			</ul>
		</div>

		<button v-on:click="toggle">{{ show ? 'Hide' : 'Show' }}</button>
	</div>

	<script src="vue.js"></script>
	<script>
		// React => 2013
		// Vue.js => 2014

		// Vue.js => Easy, Fast, Light (33.3 KB)

		let info = {
			name: 'Ahmad Khan',
			skills: ['Swimming', 'Driving', 'Writing', 'Drawing', 'Reading'],
			show: true
		};

		let app = new Vue({
			el: '#app',
			data: info,
			methods: {
				toggle() {
					this.show = ! this.show;
				}
			}
		});
	</script>
</body>
</html>